<%= form_with model: @contact, url: public_contacts_confirm_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'お名前' %><span class="text-danger">*</span>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %><span class="text-danger">*</span>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject, '件名' %><span class="text-danger">*</span>
    <%= f.text_area :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'メッセージ' %><span class="text-danger">*</span>
    <%= f.text_area :message, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認', class: "btn btn-primary" %>
  </div>
<% end %>