<div class='main-contents'>
  <h1 class='title-contents'>動画の詳細</h1>
  <div class="contents">
    <h5><%= @shared_video.video.title %></h5>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/<%= @shared_video.video.youtube_video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="video-body">
      <h4>概要</h4>
      <p><%= @shared_video.body %></p>
    </div>
    <div class='overview'>
      <p>再生回数: <%= unit_to_number(@shared_video.video.view_count) %> 回</p>
      <p><i class="bi bi-hand-thumbs-up-fill"></i> <%= unit_to_number(@shared_video.video.like_count) %></p>
    </div>

    <!-- プロフィール情報表示 -->
    <% if @shared_video.user.profile %>
      <div class='profile-tags'>
        <% ['score', 'ball_type'].each do |attr| %>
          <% if @shared_video.user.profile[attr].present? %>
            <span class="profile-tag"><%= @shared_video.user.profile[attr] %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- 編集と削除ボタン（自分の投稿のみ表示） -->
    <% if current_user == @shared_video.user %>
      <%= link_to '編集', edit_shared_video_path(@shared_video), class: 'btn btn-info' %>
      <%= link_to '削除', shared_video_path(@shared_video), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>

    <%= link_to '動画一覧に戻る', shared_videos_path, class: 'btn btn-primary' %>
  </div>
</div>