<header>
  <div class = 'header-top'>
    <h1>GolfUp</h1>
    <div class = 'header-btn'>
      <%= link_to 'ログイン' , "#", class: 'btn btn-primary' %>
      <%= link_to '新規登録' , "#", class: 'btn btn-primary' %>
    </div>
  </div>
  <nav class='navbar navbar-expand-lg navigation'>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item dropdown '>
          <%= link_to t('header.basic'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.address') , category_path('アドレス'), class: 'dropdown-item' %>
            <%= link_to t('header.grip') , category_path('握り方'), class: 'dropdown-item' %>
            <%= link_to t('header.basic_swing') , category_path('基本スイング'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.club'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.driver') , category_path('ドライバー'), class: 'dropdown-item' %>
            <%= link_to t('header.iron') , category_path('アイアン'), class: 'dropdown-item' %>
            <%= link_to t('header.wood') , category_path('ウッド'), class: 'dropdown-item' %>
            <%= link_to t('header.utility') , category_path('ユーティリティ'), class: 'dropdown-item' %>
            <%= link_to t('header.putter') , category_path('パター'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.environment'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.bunker') , category_path('バンカー'), class: 'dropdown-item' %>
            <%= link_to t('header.rough') , category_path('ラフ'), class: 'dropdown-item' %>
            <%= link_to t('header.strongwind') , category_path('強風'), class: 'dropdown-item' %>
            <%= link_to t('header.rain') , category_path('雨'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.green_around'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.approach') , category_path('アプローチ'), class: 'dropdown-item' %>
            <%= link_to t('header.lob_shot') , category_path('ロブショット'), class: 'dropdown-item' %>
            <%= link_to t('header.ground_ball') , category_path('転がし'), class: 'dropdown-item' %>
          </div>
        </li>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.shot_miss'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.hook') , category_path('フック'), class: 'dropdown-item' %>
            <%= link_to t('header.slice') , category_path('スライス'), class: 'dropdown-item' %>
            <%= link_to t('header.duff') , category_path('ダフリ'), class: 'dropdown-item' %>
            <%= link_to t('header.top') , category_path('トップ'), class: 'dropdown-item' %>
            <%= link_to t('header.shank') , category_path('シャンク'), class: 'dropdown-item' %>
            <%= link_to t('header.chunk') , category_path('チャックリ'), class: 'dropdown-item' %>
            <%= link_to t('header.tempura') , category_path('テンプラ'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.mastering_items'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.flight_distance') , category_path('飛距離'), class: 'dropdown-item' %>
            <%= link_to t('header.stability') , category_path('安定性'), class: 'dropdown-item' %>
            <%= link_to t('header.management') , category_path('コースマネジメント'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to t('header.target'), '#', class: 'nav-link', 'data-bs-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to t('header.100_or_less') , category_path('100切り'), class: 'dropdown-item' %>
            <%= link_to t('header.90_or_less') , category_path('90切り'), class: 'dropdown-item' %>
            <%= link_to t('header.80_or_less') , category_path('80切り'), class: 'dropdown-item' %>
          </div>
        </li>
        <li class='nav-item dropdown'>
          <%= link_to t('header.diagnosis'), '#', class: 'nav-link' %>
        </li>
        <li class='nav-item dropdown'>
          <%= link_to t('header.recommended'), '#', class: 'nav-link' %>
        </li>
        <li class='nav-item dropdown '>
          <%= link_to('#', class: 'nav-link', data: { bs_toggle: 'dropdown' }, aria: { haspopup: 'true',  expanded: 'false' }, id: 'header-profile' ) do %>
            <i class="bi bi-house-door-fill"></i>
          <% end %>
          <div class='dropdown-menu dropdown-menu-end'>
            <div class='dropdown-item'><%= "ユーザー名" %></div>
            <div class='dropdown-divider'></div>
            <%= link_to t('header.profile'), '#', class: 'dropdown-item' %>
            <%= link_to t('header.logout'), "#", class: 'dropdown-item', data: { turbo_method: :delete } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>